{ extends "layouts/app.twig" }

{ block body}

<div class="card shadow-lg my-3 mx-5">
    <div class="card-body">
        <form action="" method="POST">

            <!-- Recipe name -->
            <div class="mb-4">
                <label for="name" class="form-label">Name</label>
                <input required class="form-control mb-4" type="text" name="name" id="name">
            </div>

            <!-- Kitchen -->
            <div class="mb-4">
                <label for="kitchen" class="form-label">Kitchen</label>
                <select name="kitchen" id="kitchen" class="form-select">
                    { for kitchen in kitchens }
                        <option value="{{ kitchen.id }}">{{ kitchen.name }}</option>
                    { endfor}
                </select>
            </div>

            <!-- Recipe type -->
            <div class="mb-4">
                <label for="type" class="form-label">Type</label>
                <select required class="form-select" name="type" id="type">
                    { for type in types }
                        <option value="{{ type }}">{{ type|capitalize }}</option>
                    { endfor }
                </select>
            </div>

            <!-- Recipe level/difficulty -->
            <div class="mb-4">
                <label for="level" class="form-label">Level</label>
                <select required class="form-select" name="level" id="level">
                    { for level in levels }
                        <option value="{{ level }}">{{ level|capitalize }}</option>
                    { endfor }
                </select>
            </div>

            <!-- Button to submit-->
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary" name="submit">Create</button>
                <a href="/recipe"><button type="button" class="btn btn-link text-decoration-none mx-3">Back</button></a>
            </div>

        </form>
    </div>
</div>

{ endblock }